modules = ["cpp-clang14"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["zip", "unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build Shell"

[[workflows.workflow]]
name = "Build Shell"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make clean && make"

[workflows.workflow.metadata]
outputType = "console"
